.select-wrapper {
  border-radius: 3px;
  border: 1px solid $clr-border;
  overflow: hidden;
  background-color: #fff;
  position: relative;

  &::after {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 4px 3px 0 3px;
    border-color: #000 transparent transparent transparent;
    content: '';
    display: block;
    position: absolute;
    top: 15px;
    right: 5px;
  }

  select {
    width: 100%;
    padding: 8px 16px 8px 8px;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;

    &:focus {
      outline: none;
    }
  }
}
