$max-width: 1140px;

$clr-border: #ffbc00;
$clr-brand: #ff8f00;
$clr-negative: red;
$clr-positive: #26962d;

$breakpoint-xxs: 320px;
$breakpoint-xs: 600px;
$breakpoint-s: 768px;
$breakpoint-m: 992px;

$text-regular: 400;
$text-medium: 500;
$text-bold: 700;
